.header {
	padding: 25px;
	display: flex;
	border-bottom: 2px solid rgb(218, 218, 218);
	justify-content: center;
}
.main-links {
	width: 775px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}
.main-links span a {
	color: rgb(175, 175, 175);
}
.main-links span a:hover {
	color: rgb(60, 60, 60);
}
.main-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2vh 0;
}
.foot {
	margin-top: 10vh;
	margin: 10vh 0 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 2px solid rgb(218, 218, 218);
	font-size: 15px;
	letter-spacing: 0.25px;
}
.foot span {
	color: rgb(175, 175, 175);
	padding: 10px;
}
.foot span:hover {
	cursor: pointer;
	color: rgb(60, 60, 60);
}
.profile {
	width: 400px;
	height: fit-content;
	border: 2px solid rgb(218, 218, 218);
	border-radius: 3%;
}
.user-details {
	padding: 25px;
	display: flex;
}
.user-name {
	font-size: 24px;
	position: relative;
	left: 12px;
	top: 10px;
}
.user-profile {
	color: rgb(28, 175, 247);
	position: relative;
	left: 12px;
	top: 15px;
	cursor: pointer;
}
.user-img {
	font-size: 21px;
	color: rgb(175, 175, 175);
	border: 2px dashed rgb(218, 218, 218);
	border-radius: 50%;
	padding: 20px;
}
.options {
	margin-bottom: 10px;
}
.options div {
	margin: 1px 25px;
	padding: 20px;
	letter-spacing: 0.25px;
}
.options div:hover,
.options div:active {
	cursor: pointer;
	background-color: rgb(218, 218, 218);
	border-radius: 20px;
}
.content {
	padding: 20px;
	width: 775px;
}
.goal-changes {
	display: flex;
	justify-content: space-between;
}
.goal-changes div {
	display: inline-block;
	font-size: 30px;
	letter-spacing: 0.25px;
}
.learn-section p {
	color: rgb(175, 175, 175);
	line-height: 18px;
}
.button {
	box-sizing: border-box;
	position: relative;
	top: -18px;
	padding: 18px;
	cursor: pointer;
	color: rgb(175, 175, 175);
	background-color: rgb(218, 218, 218);
	border: 2px solid rgb(218, 218, 218);
	border-radius: 20px;
}
.button:hover {
	color: whitesmoke;
	background-color: rgb(28, 176, 246);
	border: 2px solid rgb(24, 153, 214);
	transform: scale(1.1);
}
.img-running {
	background-image: url('https://d35aaqx5ub95lt.cloudfront.net/images/owls/coach.svg');
	height: 216px;
	width: 216px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.goals {
	margin: 30px 10px;
	display: flex;
	justify-content: space-between;
}
.goals-table {
	width: 350px;
	box-sizing: border-box;
	border-collapse: collapse;
}
.goal {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	border: 2px solid rgb(218, 218, 218);
	border-bottom-color: white;
	position: relative;
	top: -2px;
}
.goal:hover {
	background-color: rgb(221, 244, 255);
	border: 2px solid rgb(132, 216, 255);
}
.last {
	border-bottom: 2px solid rgb(218, 218, 218);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.first {
	border-top: 2px solid rgb(218, 218, 218);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.goal-name {
	padding: 0 20px;
	font-size: 21px;
	letter-spacing: 0.25px;
}
.xp {
	padding: 5px 20px;
	letter-spacing: 0.25px;
	color: rgb(75, 75, 75);
	font-weight: 400;
}

.settings {
	margin-right: 20px;
}
.user-inputs {
	display: flex;
	justify-content: left;
	margin: 30px 10px;
}
.user-inputs input {
	flex-grow: 1;
	padding-left: 25px;
	background-color: rgb(229, 229, 229);
	border: 2px solid rgb(218, 218, 218);
	border-radius: 9px;
	padding: 9px;
}
.user-inputs span {
	margin-right: 50px;
	width: 215px;
	padding: 9px;
	text-align: right;
}
.path {
	text-align: center;
	padding: 25px;
	width: 400px;
	height: fit-content;
	margin: 0 auto;
	border: 2px solid rgb(218, 218, 218);
	border-radius: 5%;
}
.path-choose {
	font-size: 21px;
}
.profile .button {
	top: 0px;
	width: 80%;
	margin: 20px auto;
	background-color: rgb(28, 176, 246);
	border: 2px solid rgb(24, 153, 214);
	color: white;
	text-align: center;
	font-size: 18px;
}
.profile .login {
	background-color: rgb(117, 205, 142);
	border: 2px solid rgb(100, 175, 120);
}
.explain {
	margin-top: 30px;
	padding: 10px;
	color: rgb(175, 175, 175);
}
.path-select {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}
.path-select span:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.basics {
	border-radius: 50%;
	background-color: rgb(206, 130, 255);
	color: whitesmoke;
}
.placement {
	border-radius: 50%;
	background-color: rgb(88, 204, 2);
	color: whitesmoke;
}
.or {
	position: relative;
	align-self: center;
	top: -10px;
	left: 3px;
	color: rgb(175, 175, 175);
}
.or:hover {
	transform: none;
	cursor: default;
}
.path-icon {
	font-size: 135px;
	padding: 10px;
	margin-bottom: 15px;
}
.other-paths .path-icon {
	border-radius: 50%;
	background-color: rgb(218, 218, 218);
	color: whitesmoke;
	margin: 20px 0;
}
.other-paths {
	padding: 20px;
	text-align: center;
	cursor: pointer;
}
.nav-icons {
	font-size: 40px;
	cursor: pointer;
}
.nav-text {
	position: relative;
	top: -12px;
	left: 3px;
}
.personal-header {
	width: 400px;
	padding-left: 30px;
	display: flex;
	justify-content: space-around;
}
.country {
	font-size: 50px;
}
.star {
	color: rgb(250, 188, 2);
}
.streak {
	color: rgb(253, 83, 8);
}
.collections {
	color: rgb(254, 39, 18);
}
@media screen and (max-width: 1024px) {
	.img-running,
	.nav-icons {
		display: none;
	}
}
